In [1]:
import numpy as np
import pandas 
import pandas as pd
#1 Загрузите выборку из файла titanic.csv с помощью пакета Pandas.
data = pandas.read_csv('titanic.csv', index_col='PassengerId')
data[:2]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [2]:
#2 Оставьте в выборке четыре признака: 
#класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).
data1 = data[['Pclass','Fare','Age','Sex']]
data1[:2]

             Pclass     Fare   Age     Sex
PassengerId
1                 3   7.2500  22.0    male
2                 1  71.2833  38.0  female