In [4]:
import numpy as np
import pandas 
from sklearn.decomposition import PCA

In [5]:
# 1.Загрузите данные close_prices.csv. 
# В этом файле приведены цены акций 30 компаний на закрытии торгов за каждый день периода.
train = pandas.read_csv('close_prices.csv')

In [6]:
train[:5]

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [18]:
X = train.loc[:,'AXP':'XOM']

In [7]:
#2. На загруженных данных обучите преобразование PCA с числом компоненты равным 10.
# principal component analysis, PCA

#sklearn.decomposition.PCA(n_components=None, copy=True, whiten=False, svd_solver=’auto’, tol=0.0, iterated_power=’auto’, random_state=None)[source]¶

In [19]:
pca = PCA(n_components=10)
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [8]:
# Скольких компонент хватит, чтобы объяснить 90% дисперсии?
# поле explained_variance_ratio_ содержит процент дисперсии, который объясняет каждая компонента. 
# Поле components_ содержит информацию о том, какой вклад вносят признаки в компоненты.

In [20]:
pca.explained_variance_ratio_

array([0.73897118, 0.11007169, 0.04995088, 0.0287492 , 0.02215448,
       0.01931577, 0.00674853, 0.00614091, 0.00320594, 0.00305611])

In [21]:
pca.explained_variance_ratio_[1]

0.11007169009870231

In [73]:
tot_disp =0
for i in range(0,len(pca.explained_variance_ratio_)):
    tot_disp += pca.explained_variance_ratio_[i]
    print (tot_disp)
    if tot_disp>0.9:
        print ("n_comp_valid = %.0f val = %.2f" % (i,tot_disp))
        break

0.7389711827152154
0.8490428728139178
0.8989937555837079
0.9277429537836404
n_comp_valid = 3 val = 0.93

In [30]:
# 3. Примените построенное преобразование к исходным данным и возьмите значения первой компоненты.
# Поле components_ содержит информацию о том, какой вклад вносят признаки в компоненты. 
# Чтобы применить обученное преобразование к данным, можно воспользоваться методом transform.

In [48]:
reduce_dim = pca.transform(X)[:,0]

In [49]:
comp1=pca.components_[0]
len(comp1)

30

In [50]:
comp1

array([ 1.61383840e-02,  1.20644923e-01, -5.16612711e-02,  5.04842369e-02,
       -1.25859933e-01,  1.14089567e-01,  2.33906290e-01, -6.20513749e-03,
        2.51227032e-01,  2.88996029e-01, -2.64998795e-01,  9.31320168e-02,
        9.13948403e-02,  4.69879340e-02,  2.90549417e-02, -2.61068828e-02,
        3.29615584e-01,  7.13897133e-02,  7.62295699e-02,  2.11888868e-01,
        2.30922941e-02,  7.77316954e-02, -7.20594590e-03,  1.89479745e-01,
        3.21564017e-01,  5.36834873e-02,  5.79683946e-01,  1.09122230e-04,
        8.71614334e-02, -4.29421420e-02])

In [38]:
# 4. Загрузите информацию об индексе Доу-Джонса из файла djia_index.csv. 
test = pandas.read_csv('djia_index.csv')

In [40]:
test[:5]

         date          ^DJI
0  2013-09-23  15401.379883
1  2013-09-24  15334.589844
2  2013-09-25  15273.259766
3  2013-09-26  15328.299805
4  2013-09-27  15258.240234

In [47]:
y = test.loc[:,'^DJI']
y[:2]
len(y)

374

In [52]:
#Чему равна корреляция Пирсона между первой компонентой и индексом Доу-Джонса?
# Для нахождения коэффициента корреляции Пирсона можно воспользоваться функцией corrcoef из пакета numpy.
corDJ = np.corrcoef(reduce_dim,y)[0, 1]
print("%.2f"% corDJ)

0.91

In [53]:
# 5. Какая компания имеет наибольший вес в первой компоненте? Укажите ее название с большой буквы.

In [54]:
for i in range(0,len(comp1)):
    print (comp1[i])

0.016138383984734786
0.12064492322861031
-0.05166127108088292
0.05048423691685406
-0.12585993303584903
0.11408956671451212
0.23390628951791745
-0.006205137490081549
0.25122703209089814
0.2889960291670743
-0.2649987952548473
0.09313201682640565
0.0913948402920632
0.0469879340265936
0.029054941715540458
-0.02610688275956299
0.32961558381585276
0.07138971328880268
0.0762295698765116
0.21188886780132188
0.023092294068853485
0.07773169539162306
-0.0072059458950082195
0.1894797446461946
0.32156401737619067
0.05368348732868329
0.5796839457473609
0.00010912222981037973
0.08716143338286815
-0.042942141992919555

In [71]:
maxweight = np.argmax(comp1)
maxweight

26

In [74]:
X.columns[maxweight]

'V'